/* fonts chosen using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* overall default css setup */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Mukta', sans-serif;
    color: #000;
    background-color: #409eb7;
}

/* header including text logo and navigation bar which is also a burger navbar for smaller devices */

#header-color {
    background-color: #e4e4e4;
}

#logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    float: left;
    padding-top: 10px;
    color: #409eb7;
}

#menulist {
    margin-left: auto;
}

#menulist a {
    font-size: 20px;
    color: #409eb7;
    letter-spacing: 1px;
    margin: 5px;
    font-weight: 500;  
}

#menulist a:hover {
    color: #082d58;
    font-size: 30px;
}

#menulist .active {
    color: #082d58;
}

/* homepage sections */

#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;  
    height: 600px; 
    width: 100%;
    /* border-radius: 10%; */
    background-size: cover; 
    margin: 10px 10px 10px auto;
}

.sub-header {
    color: #082d58;
    padding-top: 100px;
    text-align: center;
}

.timeline-title {
    color: #082d58;
    font-size: 20px;
    text-align: center;
}

.timeline-item {
    padding: 4em 1em 0em;
    position: relative;
    border-left: 1px solid #082d58 ;
    text-align: center;
}

.timeline-item h6 {
    padding: 0;
    margin: 0;
    color: #082d58;
}

.timeline-link {
    text-decoration: none;
    text-align: left;
}

.timeline-item h6:hover {
    color: #FFFF00;  
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 1.6em;
    top: 1.5em;
    display: block;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #082d58;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #082d58;
}

#outer-find-out-more-btn, #outer-quiz-btn, #outer-feedback-btn {
    padding-top: 20px;
   
    text-align: center;
}

#find-out-more-btn, #quiz-btn, #feedback-btn {
    background-color: #082d58;
    border-radius: 20px; 
    width: 150px
}

.btn-color {
    color: #409eb7;
}

.btn-color:hover {
    color: #082d58;
}

#find-out-more-btn:hover, #quiz-btn:hover, #feedback-btn:hover {
    background-color: #FFFF00;
}

.icon-balls {
    background-color: #e4e4e4;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    margin: 30px 5px 10px auto;
    display: inline-block;
}

.icons, a {
    text-align: center;
    color: #409eb7;
}

.icons i:hover {
    color: #082d58;
}

.icon-balls:hover {
    background-color: #FFFF00;
}

/* tournaments sections */

/* quiz sections */

/* answers sections */

/* feedback sections */

/* footer */

footer {
    margin: 20px;
    padding: 0 0 10px 0;
}

.copyright {
    margin-right: 10px;
    padding-top: 10px;
    color: #082d58;
    text-align: center;
}

/* media queries */

@media screen and (max-width: 365px) {
    #logo {
        font-size: 24px;
    }

    .navbar-toggler {
        padding: 0.4px 0.6px;      
    }

    .sub-header, .timeline-title {
        font-size: 16px;
    }
}