/* fonts chosen using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* overall default css setup */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Mukta', sans-serif;
    color: #000;
    background-color: #409eb7;
}

/* header including text logo and navigation bar which is also a hamburger menu for smaller device screens */

#header-color {
    background-color: #e4e4e4;
}

#logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    float: left;
    padding-top: 10px;
    color: #409eb7;
}

#logo:hover {
    color: #082d58;
}

#menulist {
    margin-left: auto;
}

#menulist a {
    font-size: 20px;
    color: #409eb7;
    letter-spacing: 1px;
    margin: 5px;
    font-weight: 500;  
}

#menulist a:hover {
    color: #082d58;
    font-size: 30px;
}

#menulist .active {
    color: #082d58;
}

/* media queries for logo and hamburger menu on smaller screens*/

@media screen and (max-width: 365px) {
    #logo {
        font-size: 24px;
    }

    .navbar-toggler {
        padding: 0.4px 0.6px;      
    }
}

/* images */

#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;  
    height: 800px; 
    width: 100%;
    border-radius: 5%;
    background-size: cover; 
    margin: 10px 10px 10px auto;
    border: solid 2px #FFFF00;
    padding: 0;
}

#euro-logo {
    background: url("../images/euro2020.webp") no-repeat center center;  
    height: 400px; 
    width: 100%;
    background-size: contain; 
    margin-left: 15px;
    margin-bottom: 15px;
}

#euro-trophy {
    background: url("../images/eurotrophy.webp") no-repeat center center;
    height: 400px;
    width: auto;
    background-size: cover;
    border: solid 2px #FFFF00;
    margin-bottom: 15px;
}

#quiz-image-one {
    background: url("../images/quiz-question-one.jpg") no-repeat center center;
    height: 250px;
    width: auto;
    background-size: contain;
    margin-top: 20px;
}

#quiz-image-two {
    background: url("../images/quiz-question-two.jpg") no-repeat center center;
    height: 250px;
    width: auto;
    background-size: contain;
    margin-top: 20px;
}

#quiz-image-three {
    background: url("../images/quiz-question-three.webp") no-repeat center center;
    height: 250px;
    width: auto;
    background-size: contain;
    margin-top: 20px;
}

#quiz-image-four {
    background: url("../images/quiz-question-four.jpg") no-repeat center center;
    height: 250px;
    width: auto;
    background-size: contain;
    margin-top: 20px;
}

#quiz-image-five {
    background: url("../images/quiz-question-five.jpg") no-repeat center center;
    height: 250px;
    width: auto;
    background-size: contain;
    margin-top: 20px;
}

#quiz-image-six {
    background: url("../images/quiz-question-six.png") no-repeat center center;
    height: 250px;
    width: auto;
    background-size: contain;
    margin-top: 20px;
}

/* media queries for euro logo image on bigger screen sizes */

@media screen and (min-width: 768px) {
    #euro-logo {
        margin: 15px;
        height: 350px;
    }
}

/* media queries for hero image on smaller screen sizes */

@media screen and (max-width: 767px) {
    #hero-image {
        height: 400px; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
    #hero-image {
        height: 1000px; 
    }
}

/* media queries for euro logo image on smaller and screen sizes */

@media screen and (max-width: 375px) {
    #euro-logo {
        height: 300px;
    }
}

/* media queries for euro trophy image on bigger screen sizes */

@media screen and (min-width: 768px) and (max-width: 850px) {
    #euro-trophy {
        height: 700px;
        margin-top: 25px;
    }
}

@media screen and (min-width: 851px) and (max-width: 992px) {
    #euro-trophy {
        height: 600px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    #euro-trophy {
        height: 500px;
        margin-top: 20px;
    }
}

/* media queries for quiz image one on smaller screen sizes */

@media screen and (max-width: 375px) {
    #quiz-image-one, #quiz-image-two, #quiz-image-three #quiz-image-four, #quiz-image-five {
        height: 180px;
    }
}

@media screen and (max-width: 769px) and (max-width: 1200px) {
    #quiz-image-one, #quiz-image-two, #quiz-image-three #quiz-image-four, #quiz-image-five {
        margin-top: 50px;
    }
}

/* timeline */

.timeline-title {
    color: #082d58;
    font-size: 20px;
    text-align: left;
}

.timeline-item {
    padding: 4em 1em 0em;
    position: relative;
    border-left: 1px solid #082d58 ;
    text-align: center;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    color: #082d58;
}

.timeline-link {
    text-decoration: none;
    text-align: left;
}

.timeline-item p:hover {
    color: #FFFF00;  
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 1.6em;
    top: 1.5em;
    display: block;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: #082d58;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #082d58;
}

/* media queries for timeline for smaller screen sizes*/

@media screen and (max-width: 767px) and (min-width: 343px) {
    .timeline-item p {
        font-size: 20px;
    }   
}

@media screen and (max-width: 365px) {
    .timeline-title {
        font-size: 18px;
    }
}

/* headers */

.sub-header {
    color: #082d58;
    padding-top: 100px;
    text-align: center;
}

.host-sub-header {
    color: #082d58;
    padding-bottom: 20px;
}

/* paragraphs and ordered list */

.para-content, .ol-content {
    color: #082d58;
}

/* buttons */

#outer-find-out-more-btn, #outer-quiz-btn, #outer-feedback-btn {
    padding-top: 20px;
    text-align: center;
}

#find-out-more-btn, #quiz-btn, #feedback-btn {
    background-color: #082d58;
    border-radius: 20px; 
    width: 250px;
    height: auto;
}

.btn-color {
    color: #409eb7;
}

.btn-color:hover {
    color: #082d58;
}

#find-out-more-btn:hover, #quiz-btn:hover, #feedback-btn:hover, 
#quiz-btn-one-one:hover, #quiz-btn-one-two:hover, #quiz-btn-one-three:hover, 
#quiz-btn-two-one:hover, #quiz-btn-two-two:hover, #quiz-btn-two-three:hover, 
#quiz-btn-three-one:hover, #quiz-btn-three-two:hover, #quiz-btn-three-three:hover,
#quiz-btn-four-one:hover, #quiz-btn-four-two:hover, #quiz-btn-four-three:hover,
#quiz-btn-five-one:hover, #quiz-btn-five-two:hover, #quiz-btn-five-three:hover,
#quiz-btn-six-one:hover, #quiz-btn-six-two:hover, #quiz-btn-six-three:hover {
    background-color: #FFFF00;
}

/* quiz buttons */

#outer-quiz-btn-one-one, #outer-quiz-btn-one-two, #outer-quiz-btn-one-three, 
#outer-quiz-btn-two-one, #outer-quiz-btn-two-two, #outer-quiz-btn-two-three,
#outer-quiz-btn-three-one, #outer-quiz-btn-three-two, #outer-quiz-btn-three-three, 
#outer-quiz-btn-four-one, #outer-quiz-btn-four-two, #outer-quiz-btn-four-three,
#outer-quiz-btn-five-one, #outer-quiz-btn-five-two, #outer-quiz-btn-five-three,
#outer-quiz-btn-six-one, #outer-quiz-btn-six-two, #outer-quiz-btn-six-three {
    padding-top: 20px;
    text-align: center;
}

#quiz-btn-one-one, #quiz-btn-one-two, #quiz-btn-one-three, 
#quiz-btn-two-one, #quiz-btn-two-two, #quiz-btn-two-three, 
#quiz-btn-three-one, #quiz-btn-three-two, #quiz-btn-three-three,
#quiz-btn-four-one, #quiz-btn-four-two, #quiz-btn-four-three,
#quiz-btn-five-one, #quiz-btn-five-two, #quiz-btn-five-three,
#quiz-btn-six-one, #quiz-btn-six-two, #quiz-btn-six-three {
    background-color: #082d58;
    border-radius: 20px; 
    width: 250px;
    height: auto;
} 

/* media clip */

#media-clip {
    border: solid 2px #FFFF00;
    padding: 0;
}

/* google map API key used - AIzaSyAQda9xmJ0kfmy2w5QsV2WTol9pY-iTWxo sourced from Google Maps Cloud Platform*/

#map2020 {
    height: 400px;
    width: auto;
    border: solid 2px #FFFF00;
    margin-left: 10px;
    margin-bottom: 15px;
}

/* quiz */

.quiz-question {
    color: #e4e4e4;
    text-align: center;
    padding-bottom: 20px;
}

.quiz-center {
    color: #082d58;
    text-align: center;
}

/* footer */

footer {
    margin: 20px;
    padding: 0 0 10px 0;
}

.icon-balls {
    background-color: #e4e4e4;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    margin: 30px 5px 10px auto;
    display: inline-block;
}

.icons, a {
    text-align: center;
    color: #082d58;
}

.icon-balls:hover {
    background-color: #FFFF00;
}

.copyright {
    margin-right: 10px;
    padding-top: 10px;
    color: #082d58;
    text-align: center;
    font-size: 20px;
}

/* media queries for copright text in footer for small screen sizes */

@media screen and (max-width: 300px) {
    .copyright {
        font-size: 15px;
    }
}




